<%- include("partials/header")%>

<body>
  <form class="configuration"></form>
  <div id="invader"></div>
  <div class="palette"></div>
  <script src="/js/invader.js"></script>
  
<%- include("partials/footer")%>