<%- include('partials/header') %>


<main>
    <h3>Page de recherche</h3>


    <form action="/search/results" class="search-form">
    
        <input type="search" name="recherche"
            placeholder="Votre recherche" class="search-form__input">
        
        <button class="search-form__button">
            Rechercher
        </button>

    </form>
</main>


<%- include('partials/footer') %>